{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Your can not have a juggling licence
      </h1>

      <p>You may be better off trying something else to be honest!</p>

      <p>For more information check out <a href="http://www.youtube.com" target="_blank">YouTube</a> for some interesting ideas.</p>
      
    </div>
  </div>
</main>

{% endblock %}
