{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Eligibility - You do not need a Licence
      </h1>

      <p>Thank you for taking the time to complete the licence request
      You are too good to need a licence so you do not need to apply</p>

      <p>For more information check out <a href="http://www.youtube.com" target="_blank">YouTube</a> for some interesting ideas.</p>

    </div>
  </div>
</main>

{% endblock %}
